<!-- Footer-->
<footer>
    <div class="container-fluid bg-light py-5 d-flex justify-content-center">
      <div class="row py-4">
        <div class="col-lg-6 col-md-4 mb-4 mb-lg-0">
          <h6 id='about' class="text-uppercase font-weight-bold mb-4">About</h6>
          <p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt.</p>
        </div>
        <div class="col-lg-2 col-md-3 mb-4 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">Quick Links</h6>
          <ul class="list-unstyled mb-0">
            <li class="mb-2"><a href="" class="text-muted">Login</a></li>
            <li class="mb-2"><a href="" class="text-muted">Register</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-3 mb-4 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">Social Links</h6>
          <ul class="list-unstyled mb-0">
            <li class="list-item"><a href="https://facebook.com" target="_blank" title="facebook"><span
                  class="fa fa-facebook">Facebook</span></a>
            </li>
            <li class="list-item"><a href="https://twitter.com" target="_blank" title="twitter"><span
                  class="fa fa-twitter"></span>Twitter</a>
            </li>
            <li class="list-item"><a href="https://instagram.com" target="_blank" title="instagram"><span
                  class="fa fa-instagram"></span>Instagram</a></li>
          </ul>
        </div>
      </div>
      <!-- Copyrights -->
      <div class="text-center">
        <p class="text-muted mb-0 py-2">&copy;2020 {{ config.APP_NAME }} | All rights reserved.</p>
      </div>
    </div>
  </footer>
  <!-- scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='main.js') }}" type="text/javascript"></script>
  {% block scripts %}{% endblock %}
</body>

</html>